*/node_modules/
./min-io/drive/*

*.mp4
*.mov
*.mkv
*.avi
*.flv
prompt.md
min-io/drive/.minio.sys/format.json
min-io/drive/.minio.sys/buckets/.bloomcycle.bin/xl.meta
min-io/drive/.minio.sys/buckets/.usage-cache.bin/xl.meta
min-io/drive/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
min-io/drive/.minio.sys/buckets/.usage.json/xl.meta
min-io/drive/.minio.sys/buckets/videos/.metadata.bin/xl.meta
min-io/drive/.minio.sys/buckets/videos/.usage-cache.bin/xl.meta
min-io/drive/.minio.sys/buckets/videos/.usage-cache.bin.bkp/xl.meta
min-io/drive/.minio.sys/config/config.json/xl.meta
min-io/drive/.minio.sys/config/iam/format.json/xl.meta
min-io/drive/.minio.sys/pool.bin/xl.meta
min-io/drive/.minio.sys/tmp/410dc63e-121d-4cad-a36b-8a7cf2b515a9
min-io/drive/.minio.sys/tmp/*.bkp
min-io/drive/.minio.sys/tmp/2098289a-7ceb-4d69-bf0c-1af394f0e3a3
min-io/drive/.minio.sys/tmp/.trash/247f0f66-65a7-4d51-89b0-d726c05f2f7d/xl.meta.bkp
min-io/drive/.minio.sys/tmp/.trash/643b04f6-9799-46a7-8631-e66426f2868d/xl.meta.bkp
min-io/drive/.minio.sys/tmp/.trash/653ec3db-0e93-4923-a430-f5ab42c2b12b/xl.meta.bkp
min-io/drive/.minio.sys/tmp/.trash/ecc9418f-ceeb-41e3-91c8-b38ad7c830a9/xl.meta.bkp
min-io/drive/.minio.sys/tmp/.trash/fb9e1956-d3e9-4619-b928-92bb7a8479e9/xl.meta.bkp
min-io/drive/.minio.sys/tmp/.trash/fd231cef-97fe-432f-8827-0ce1ada9b44a/xl.meta.bkp
min-io/drive/videos/0xMc1f26QX/xl.meta
min-io/drive/videos/0xMc1f26QX/7f2b6d50-f4b5-4d72-bf50-0db4311119e4/part.1
min-io/drive/videos/OX8e3d6e33/xl.meta
min-io/drive/videos/OX8e3d6e33/4b6de084-6e5e-4c19-a3fa-2015e1a956d8/part.1
min-io/drive/videos/P-Dea9b1qu/xl.meta
min-io/drive/videos/P-Dea9b1qu/ab1a84bb-d0a6-486d-aca9-6118dcf508cd/part.1
min-io/drive/videos/w1Gd91b7Zh/xl.meta
min-io/drive/videos/w1Gd91b7Zh/fd173613-1e66-40af-94f8-7d77baa0cd60/part.1
min-io/drive/videos/zWW135c2cn/xl.meta
min-io/drive/videos/zWW135c2cn/1f62d57f-4ba4-4cc0-914b-0895c1b21d3f/part.1
